<!DOCTYPE html>
<html>
    <head>
        <title>Calculatrice ADM</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
    </head>
    <body>
        <header>
            <h1 class="site_title">Calculatrice pour ADM</h1>
        </header>
        
        <nav id="tools">
            <ul>
                <li><a href="/series_generator">Générer une suite</a></li>
                <li><a href="">Vérifier si période max</a></li>
                <li><a href="">Vérifier si suite correcte</a></li>
                <li><a href="">Calculer intégrale</a></li>
            </ul>
        </nav>

        {% block content %}{% endblock %}

    </body>
</html>