{% extends 'base.html' %}

{% block content %}

<form action="/series_generator"method="POST">
    <table class="series_form">
        <tr>
            <td><label for="module">Module (m) :</label>
            <td><input name="module" id="module" type="number"/></td>
        </tr>
        <tr>
            <td><label for="module">Multiplicateur (a) :</label></td>
            <td><input name="multiplier" id="multiplier"type="number" /></td>
        </tr>
        <tr>   
            <td><label for="module">Incrément (c) :</label></td>
            <td><input name="increment" id="increment" type="number"/></td> 
        </tr> 
        <tr>   
            <td><label for="module">Valeur initiale (x0) :</label></td>
            <td><input name="seed" id="seed" type="number"/></td>
        </tr>  
    </table>

    
    <button type="submit">Générer</button>
</form>

{% if serie %}

<ol>
    {% for number in serie.numbers %}
        <li style="color: black">{{ number }}</li>
    {% endfor %}
</ol>

{% endif %}

{% endblock %}